<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projeto.Properties.Settings.ProjetoBancoConnectionString"
            connectionString="Data Source=DESKTOP-S28P9M1;Initial Catalog=ProjetoBanco;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>